# Git Ignore Rules

# Secrets and Local Configurations
.env
.env.local
.env.backup

# Directories
vars/private
vars/public
vars/hosts.yml
vars/targets.yml


# Build and Compilation Artifacts
dist/
*.cfg
*.iso

# Python Runtime and Virtual Environments
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/
env/


# System and Editor Overheads (Optional but Recommended)
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# OpenTofu
opentofu/terraform.tfstate