# =============================================================================
# Control Node Base - Environment Configuration Blueprint
# Copy this file to '.env' and populate with real data before generating image.
# =============================================================================

# =============================================================================
# Seed Information
# =============================================================================

# Use the GitHub repository bellow to seed all worker nodes:
# https://github.com/rancorjoy/IaC_Debian_Server_Base

# This will ensure all nodes initialize with the same SSH public key
# Add the initial private key into folder /vars/private before running

# A host may have multiple public keys, only one is needed
# Ensure ALL hosts share this public key before running
PUBLIC_KEY = "key"

# Put a copy of the private key used in the /vars/pivate/seed.key

# =============================================================================
# Targets
# =============================================================================

# For each web-app taget in targets.yml add the corresponding env token
# The instructions from targets.yml are below:

# "
# For private repositories, create a variable in env for the corresponding key
# Add this key to the target as shown below:

#  - repo: https://github.com/private_repo
#    token_env: PRIVATE_KEY_1

# In this case there should be an env variable "PRIVATE_KEY_1" = key
# "

# Ensure the list of targets and API tokens matches before running main.py

# =============================================================================
# Stack Topology Parameters
# =============================================================================

# KVM variables - determine which nodes are VM provisioned
# False -> Containerization/Orchestration on the host-OS
# True ->  Containerization/Orchestration on a provisioned VM
Control_Node_VM = "True" or "False"
Worker_Node_VM = "True" or "False"

# Containerization variables - determines containerization method

# Containerizer = "None" will result in containerd (only for K3)
Containerizer = "Docker", "Podman" or "None"

# Orchestration in Container (OiC) allows stack to be contained
# This can be useful for cleanup/isolation or security
# OiC_Runtime used to select which runtime is used for OiC
OiC = "Docker", "Podman" or "None"
OiC_Runtime = "Sysbox", "gVisor", "None"

# Orchestration variables - determines orchestration variables
# Orchestrator = "Swarm" used for Docker-Swarm
# K3_Host determines which worker node should run the K3 cluster
# K3_Host_Only determines if the K3 host *ONLY* orchestrates
# K3_Host_Only = "True" is best when the K3 host is hardware limited
Orchestrator = "K3", "Swarm" or "None"
K3_Host = IP-Adress or "None"
K3_Host_Only = "True" or "False"